@media screen and (min-width: 641px) {
  .container{
    display: flex;
    justify-content: center;
  }
}
/* ************ BACKGROUND ************ */
.page_content{
  background-image: url(../../images/background_main.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 25vh;
  margin-top: -10vh;
}
/* ************ PICTURE ************ */
.section_new .picture {
  flex: 3;
}

.section_new .picture img{
  width: 50vw;
  height: auto;
  margin: auto;
  display: block;
}
.section_new h1{
  margin-top: 5vh;
  text-align: center;
  color:#ffffff;
  font-size: 3.8em;
  font-family: 'Amatic SC', cursive;
}

/* ************ STRONG POINT ************ */

.section_new .content{
  padding: 5vh 15vw;
}

.strong_point {
  display: flex;
  align-items: center;
}
.strong_point figure {
  flex:2;
}
.strong_point p {
  flex:3;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  font-family: 'Amatic SC', cursive;
}
.strong_point figure img {
  width: 12vw;
  height: auto;
  margin: auto;
  display: block;
}
.strong_point>*{
  margin-top: 6vh;
}

@media screen and (min-width: 641px) {
  .section_new .content{
    flex: 1;
    margin-top: 30vh;
    padding-right: 10vw;
  }
  .strong_point figure {
    flex:1;
  }
  .strong_point p {
    flex:2;
  }
  .strong_point figure img {
    width: 6vw;
  }
}
