/* ******* NAV ******* */
@media screen and (max-width: 640px){
  .block-nav-sidebar{
    display: none;
  }
}
.page--anchors{
  position:fixed;
  z-index:1000;
  right:0;
  top:38%;
  width:25vw;
  padding:3vh 2vw;
}
.page--anchors ul li{
  text-align: right;
}
.page--anchors li a{
  display:block;
  padding: 1vh 2vw 1vh 0;
  font-family: 'Francois One', sans-serif;
  font-size: 1.2em;
  color:#000000;
  text-transform: uppercase;
  font-size: 1rem !important;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.page--anchors li a.active {
  color:#b72d2b;
  font-family: 'Francois One', sans-serif;
}

/* ******* SECTION 1 ******* */
h1.field-title{
  color:#000000;
  font-size: 3rem;
  font-family: 'Amatic SC', cursive;
  margin-bottom: 2vh;
}
@media screen and (max-width: 640px){
  h1.field-title{
    font-size: 2.5rem;
  }
}
h2.field-subtitle{
  color:#000000;
  font-size: 2.5em;
  font-family: 'Amatic SC', cursive;
  margin-bottom: 2vh;
}
p.text_courant{
  color:#000000;
  margin: auto;
  font-family: 'Roboto', sans-serif;;
  font-weight: 300;
  letter-spacing: 0.05em;
  margin-bottom: 2vh;
}
p.learn_more{
  color:#000000;
  margin: auto;
  font-family: 'Roboto', sans-serif;;
  font-weight: 300;
  font-size: 0.9em;
}
h3.citation{
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 300;
  display: flex;
  margin-bottom: 4vh;
}
p.number{
  color:#000000;
  margin: auto;
  font-family: 'Roboto', sans-serif;;
  letter-spacing: 0.05em;
  margin-bottom: 4vh;
}
.block_icon p {
  font-family: 'Francois One', sans-serif;
  font-size: 2.5em;
  color: #b72d2b;
  text-align: center;
}

details{
  font-family: 'Francois One', sans-serif;
  cursor: pointer;
  font-size:1.2em;
}
details h1, details h2 {
  font-family: 'Francois One', sans-serif;
  cursor: pointer;
  font-size:0.8em;
  padding-top: 2vh;
}

/* ******* FONDS ******* */

.intro,
.section {
  padding: 12vh 25vw;
  background-color: #f5f5f5;
}
@media screen and (max-width: 640px){
  .intro,
  .section {
    padding: 12vh 10vw;
  }
}

.intro,
.section__3,
.section__5 {
  background-image: url(../../images/background_main.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 25vh;
  margin-top: -10vh;
}

.intro {
  margin-top: 0;
  background-color: transparent;
}

@media screen and (min-width: 1200px) {
  .intro .field-body,
  .section .field-body {
    display: flex;
    margin: auto;
    align-items: center;
  }
}

.intro .field-body > *,
.section .field-body > * {
  flex: 1;
}

.intro .field-body .block_icon img,
.section .field-body .block_icon img {
  width: 60%;
  margin: auto;
  display: block;
}

@media screen and (max-width: 640px){
  .intro .field-body .block_icon img,
  .section .field-body .block_icon img {
    padding-bottom: 5vh;
  }
}
.section:nth-child(even) .field-body {
    flex-direction: row-reverse;
}
.section:nth-child(odd) .field-body * {
  color: white;
}
