.slides li{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}
.slides h1{
  position: absolute;
  color:#ffffff;
  font-family: 'Amatic SC', cursive;
  font-size: 5em;
  text-align: center;
}
.slides img{
  width: 50vw;
  height: auto;
}
.slide_2 h1{
  margin-top: 10vh;
  margin-left: 15vw;
}
.slide_3 h1{
  padding-right: 15vw;
}
